[Unit]
Description=Create sql user from Podman secrets
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/usersetup

[Install]
WantedBy=multi-user.target
